body {
  text-align: center;
}
.mdl-layout__content {
  overflow: initial;
}
.card-wide.mdl-card {
  width: 100%;
  max-width: 460px;
  margin: 20px auto 0;
  display: block;
}
.card-wide > .mdl-card__title {
  color: #ffffff;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.card-wide > .mdl-card__menu {
  color: #ffffff;
}
.mdl-layout {
  align-items: center;
  justify-content: center;
}
.mdl-layout-vertical-middle {
  position: absolute;
}
.button-see-more {
    margin-top: 20px;
}
.section-preview {
    margin-top: 20px;
}