<h1>Pesquisa de videos</h1>
<form ng-submit="getYoutubeByTerm(textTerm)" class="mdl-shadow--2dp form-search">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="text" class="mdl-textfield__input" ng-model="textTerm" placeholder="Pesquisar">
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Buscar</button>
</form>

<section ng-repeat="video in videos" ng-if="video.id.videoId" class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: url({{video.snippet.thumbnails.high.url}});">
        <h2 class="mdl-card__title-text">{{video.snippet.title}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <p ng-if="video.snippet.description">{{video.snippet.description}}</p>
        <hr ng-if="video.snippet.description">
        <p>Data: {{ video.snippet.publishedAt | date: "dd/MM/y" }}</p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a ng-href="#!preview/{{video.id.videoId}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Veja mais</a>
    </div>
</section>
<button ng-if="isResult" ng-click="getYoutubeByTerm(textTerm, nextPageToken)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-see-more">Veja mais resultados</button>