<section class="section-preview">
    <a ng-href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Voltar para busca</a>

    <div class="card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <iframe width="100%" height="360" frameBorder="0" ng-src="{{urlVideo}}"></iframe>
        </div>
        <div class="mdl-card__supporting-text">
            <h5>{{video.snippet.title}}</h3>
            <p ng-if="video.snippet.description">{{video.snippet.description}}</p>
            <hr ng-if="video.snippet.description">
            <p>Visualizações: {{ video.statistics.viewCount }}</p>
        </div>
    </div>
</section>